<div id="select">

  <div class="select">
    <a href="/pokemon">Pokemon</a>
  </div>

  <div class="select">
    <a href="/trainers">Trainers</a>
  </div>

  <div class="select">
    <a href="/teams">Teams</a>
  </div>


</div>
